@using TeknikMarket.Model.Entity;

@{
	ViewData["Title"] = "List";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model KategoriListeVm

<div class="col-md-12"><a onclick="KategoriModalShow();" class="btn btn-primary">Kategori Ekle</a></div>
<br />
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Kategori Listesi</h3>
			</div>
			<!-- /.card-header -->

			<div class="card-body">

				<div id="buttonContainer"></div>
				<br />
				<table id="example2" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Kategori Adı</th>
							<th>Kategori Görünüm</th>
							<th>Aktiflik</th>
							<th>Sıra</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody id="tblKategoriler">

						@foreach (Kategori item in Model.KategoriListesi)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.KategoriAdi</td>
								<td>@item.KategoriAdiGorunumu</td>
								<td>

									@if (item.Aktif)
									{
										<input type="checkbox" kategoriid="@item.Id" class="Aktiflik" checked name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
									}
									else
									{
										<input type="checkbox" kategoriid="@item.Id" class="Aktiflik" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
									}

								</td>
								<td>@item.Sira</td>
								<td><a kategoriid="@item.Id" class="btn btn-primary btnDuzenle">DÜZENLE</a></td>
								<td><a kategoriid="@item.Id" class="btn btn-danger btnSil">SİL</a></td>
							</tr>
						}


					</tbody>

				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->


	</div>
	<!-- /.col -->
</div>


@section Script{
	



	<script>
		$(document).on('switchChange.bootstrapSwitch', '.Aktiflik', function (event, state) {
			var x = $(this).attr("kategoriid");

			var aktiflik = false;

			if ($(this).is(':checked')) {
				aktiflik = true;
			}

			$.ajax({
				url: "/Admin/Kategori/Aktiflik/",
				method: "post",
				dataType: "json",
				data: { KategoriId: x, Aktiflik: aktiflik },
				success: function (r) {

					if (r.result) {
						Swal.fire(
							'Başarılı',
							r.mesaj,
							'success'
						)


					}


				},
				error: function () {


				}


			});



		});
				
	</script>


}